*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Umar */
















/* Fazliddin bro */















/* lazizbek */














@media screen and (max-width:377px){
/* umar uchun */














/* fazliddin bro uchun */









/* lazizbek uchun */











}






