*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Umar */
    .container{
        width: 1440px;
        background: linear-gradient(180.00deg, rgb(75, 44, 36),rgb(43, 23, 18) 100%);
    }
    .navbar{
        /* Header */
        position: absolute;
        width: 1440px;
        height: 88px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 846px;
        padding-top: 27px;
        padding-left: 160px;
        padding-right: 160px;
        display: flex;
        justify-content: space-between;
    }
    .logo{
        display: flex;
        gap: 8px;
        align-items: center;
    }
    .logo p{
        color: rgb(255, 255, 255);
        font-family: Pacifico;
        font-size: 20px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0%;
        text-align: left;
    }
    ul{
        display: flex;
        gap: 72px;
        align-items: center;
    }
    li{
        list-style: none;
    }
    li a{
        color: rgb(255, 255, 255);
        font-family: Pacifico;
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
        text-decoration: none;
    }
    li a:hover{
        color: brown;
    }
    .header{
        padding-top: 93px;
        padding-left: 186px;
    }
    .head{
        width: 1069px;
        display: flex;
    }
    .text{
        padding-top: 94px;
        padding-left: 72px;
    }
    .QUALITY{
        width: 174px;
        color: rgb(221, 182, 111);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
    }
    .text h1{
        width: 447px;
        color: rgb(255, 255, 255);
        font-family: Pacifico;
        font-size: 72px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 12px;
        margin-bottom: 38.17px;
        display: flex;
    }
    .select{
        width: 412px;
        color: rgb(255, 255, 255);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
    }
    .but{
        width: 154px;
        height: 40px;
        display: flex;
        gap: 18.22px;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 28px 16px 0px;
        border-radius: 64px;
        border: none;
        box-shadow: 0px 8px 32px 0px rgba(221, 183, 112, 0.25);
        /* second-color */
        background: rgb(221, 182, 111);
        margin-top: 48px;
        margin-bottom: 177.83px;
    }
    .but p{
        color: rgb(46, 38, 36);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
    }
    .header2{
        position: static;
        width: 1440px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 0px;
        background: rgb(73, 45, 38);
        padding-left: 162px;
        display: flex;
        gap: 166px;
    }
    .text2{
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    .but1{
        width: 154px;
        height: 40px;
        display: flex;
        gap: 13.64px;
        align-items: center;
        padding: 0px 28px 16px 0px;
        border-radius: 64px;
        border: none;
        box-shadow: 0px 8px 24px 0px rgba(27, 17, 14, 0.5);
        background: rgb(43, 23, 18);
    }
    .but1 p{
        color: rgb(255, 255, 255);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
    }
    .strive{
        width: 418px;
        color: rgb(255, 255, 255);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
    }
    .cappucino p{
        color: rgb(255, 255, 255);
        font-family: Pacifico;
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 23.28px;
    }
    .begin{
        display: flex;
        gap: 88px;
        align-items: center;
    }
    .coffes{
        display: flex;
        gap: 88px;
        align-items: center;
        margin-bottom: 132px;
    }















/* Fazliddin bro */
.Fazliddin_section {
    width: 1440px;
    height: 539px;
    background: #fff;
    display: flex;
    gap: 107px;
    padding: 0px 160px 172px 160px;
  }
  .img_5 {
    width: 550px;
    height: 366.85px;
  }
  .section_box h1 {
    color: rgb(46, 38, 36);
    font-family: Pacifico;
    font-size: 48px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    margin-top: 82px;
  }
  .section_box p {
    color: rgb(91, 76, 72);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 24px;
    width: 463px;
  }
  .Fazliddin_section1 {
    width: 1440px;
    height: 780px;
    background: rgb(73, 45, 38);
    padding-top: 64px;
  }
  .Fazliddin_section1 h1 {
    color: rgb(255, 255, 255);
    font-family: Pacifico;
    font-size: 48px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }
  .Fazliddin_section1_chiziq {
    box-sizing: border-box;
    border: 2px dashed rgb(132, 117, 113);
    width: 650px;
    height: 650px;
    margin-left: 395px;
    margin-top: -172px;
  }
  .Fazliddin_section1_chiziq_1 {
    width: 1440px;
    height: 656px;
    border: 2px dashed rgb(132, 117, 113);
    box-sizing: border-box;
    margin-top: -550px;
  }
  .Fazliddin_section1_box {
    display: flex;
    gap: 116px;
  }
  .Steps_photo {
    margin-top: -500px;
  }
  .Steps_photo img {
    width: 260px;
    height: 260px;
    margin-left: 208px;
  }
  .Steps_number img {
    margin-left: 208px;
    width: 85px;
    height: 85px;
  }
  .Steps_number {
    margin-top: -260px;
  }
  .Harvest p {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    width: 272px;
    margin-top: 180px;
    margin-left: 220px;
  }
  .beans {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    width: 272px;
    margin-top: -410px;
  }
  .Steps_number1 img {
    width: 85px;
    height: 85px;
    margin-top: 60px;
  }
  .Steps_number1 {
    margin-top: -300px;
    margin-left: -15px;
  }
  .Steps_image img {
    width: 260px;
    height: 260px;
  }
  .Steps_image2 {
    margin-top: -100px;
    margin-left: -20px;
  }
  .Steps_image2 img {
    width: 260px;
    height: 260px;
  }
  .Steps_number2 {
    margin-top: -500px;
  }
  .Steps_number2 img {
    width: 85px;
    height: 85px;
  }
  .Steps_photo1 {
    margin-top: -500px;
  }
  .Steps_photo1 img {
    width: 260px;
    height: 260px;
    margin-left: -20px;
  }
  .Steps_number2 img {
    width: 85px;
    height: 85px;
  }
  .Steps_number2 {
    margin-top: -260px;
  }
  .coffee {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    width: 272px;
    margin-top: 180px;
  }













/* lazizbek */
.wrapper{
    max-width: 1440px;
}
.first{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
    padding-bottom: 132px;
}
.writings{
    width: 538px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.writings h1{
    color: rgb(46, 38, 36);
font-family: Pacifico;
font-size: 48px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.writings p{
    color: rgb(91, 76, 72);
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
footer{
    width: 100%;
    padding-top: 96px;
    padding-bottom: 48px;
    border-radius: 104px 104px 0px 0px;

/* first-color-alt */
background: rgb(43, 23, 18);
background-image: url(images/bg-coffee-beans\ 1.png);
display: flex;
flex-direction: column;
}
.inner{
    display: flex;
    justify-content: space-between;
    padding: 0px 160px;
    margin-bottom: 96px;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.cofe{
    display: flex;
    gap: 2px;
    align-items: center;
}
.cofe span{
    color: rgb(255, 255, 255);
font-family: Pacifico;
font-size: 20px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0%;
text-align: left;
}
.left h1{
    color: rgb(255, 255, 255);
font-family: Pacifico;
font-size: 36px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.right{
    display: flex;
    flex-direction: column;
}
.right input{
    width: 360px;
    height: 64px;
    /* text-color-light */
border: 2px solid rgb(132, 117, 113);
border-radius: 64px;

/* text-color-light */
background: rgb(132, 117, 113);
background: rgb(43, 23, 18);
padding-left: 25px;
color: rgb(132, 117, 113);
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 24px;
}
.right button{
    width: 360px;
    height: 44px;
    border-radius: 64px;

box-shadow: 0px 8px 32px 0px rgba(221, 183, 112, 0.25);
/* second-color */
background: rgb(221, 182, 111);
display: flex;
gap: 16px;
justify-content: center;
align-items: center;
border: none;
color: rgb(0, 0, 0);
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 44px;
}
.right p{
    font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0%;
text-align: left;
color: white;
}
.right p span{
    font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0%;
text-align: left;
color: rgb(221, 182, 111);
}
.photos{
    display: flex;
    gap: 50px;
    margin-bottom: 64px;
    margin-left: 643px;
}
.final span{
    color: rgb(132, 117, 113);
font-family: Poppins;
font-size: 13px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
margin-left: 580px;
}











@media screen and (max-width:377px){
/* umar uchun */
.container{
    width: 377px;
    background: linear-gradient(180.00deg, rgb(75, 44, 36),rgb(43, 23, 18) 100%);
}
.navbar{
    width: 376px;
    height: 64px;
    padding-left: 143px;
    padding-top: 17px;
}
.logo{
    display: flex;
    gap: 8px;
    align-items: center;
}
.logo img{
    width: 28px;
    height: 28px;
}
.logo p{
    color: rgb(255, 255, 255);
    font-family: Pacifico;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
ul{
    display: flex;
    gap: 72px;
    align-items: center;
    display: none;
}
.header{
    padding-top: 67px;
    padding-left: 24px;
}
.head{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head img{
    width: 320px;
    height: 354.56px;
}
.text{
    padding-top: 0px;
    padding-left: 0px;
    width: 328px;
    height: 340px;
    align-items: center;
}
.QUALITY{
    width: 163px;
    color: rgb(221, 182, 111);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 82px;
}
.text h1{
    width: 273px;
    color: rgb(255, 255, 255);
    font-family: Pacifico;
    font-size: 44px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 35px;
    margin-left: 25px;
}
.select{
    width: 328px;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.but{
    width: 148px;
    height: 40px;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 28px 16px 0px;
    border-radius: 64px;
    border: none;
    box-shadow: 0px 8px 32px 0px rgba(221, 183, 112, 0.25);
    /* second-color */
    background: rgb(221, 182, 111);
    margin-top: 32px;
    margin-bottom: 55.44px;
    margin-left: 76px;
}
.but p{
    color: rgb(46, 38, 36);
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
}
.but img{
    width: 7.78px;
    height: 12.73px;
}
.header2{
    position: static;
    width: 376px;
    flex: none;
    background: rgb(73, 45, 38);
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding-left: 24px;
}
.text2{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.but1{
    width: 148px;
    height: 40px;
    display: flex;
    gap: 13.64px;
    align-items: center;
    padding: 0px 28px 16px 0px;
    border-radius: 64px;
    border: none;
    box-shadow: 0px 8px 24px 0px rgba(27, 17, 14, 0.5);
    background: rgb(43, 23, 18);
    margin-left: 76px;
}
.but1 p{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
}
.but1 img{
    width: 12.73px;
    height: 7.78px;
}
.strive{
    width: 328px;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.cappucino p{
    color: rgb(255, 255, 255);
    font-family: Pacifico;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 23.28px;
}
.begin{
    display: flex;
    gap: 56px;
    align-items: center;
}
.cappucino img{
    width: 120px;
    height: 168.72px;
}
.coffes{
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;
    margin-bottom: 132px;
    margin-left: 15px;
    align-items: flex-start;
}













/* fazliddin bro uchun */
.Fazliddin_section {
    width: 376px;
    height: 615px;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .img_5 {
    width: 328px;
    height: 218.78px;
  }
  .Fazliddin_section div:nth-child(2) h1 {
    text-align: center;
    margin-top: -48px;
  }
  .Fazliddin_section div:nth-child(2) p {
    color: rgb(91, 76, 72);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    width: 328px;
  }
  .Fazliddin_section1 {
    width: 376px;
    height: 1000px;
    padding: 40px 24px 0px 24px;
  }
  .Fazliddin_section1 h1 {
    color: rgb(255, 255, 255);
    font-family: Pacifico;
    font-size: 28px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    width: 328px;
  }
  .Fazliddin_section1_chiziq1 {
    display: none;
  }
  .Fazliddin_section1_chiziq {
    display: none;
  }
  .Steps_number img {
    width: 50px;
    height: 50px;
  }
  .Steps_number {
    margin-top: -150px;
    margin-left: -220px;
  }
  .Steps_photo img {
    width: 150px;
    height: 150px;
  }
  .Steps_photo {
    margin-top: 50px;
    margin-left: -220px;
  }
  .Harvest p {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    width: 250px;
    margin-top: 100px;
    margin-left: 5px;
  }
  .Steps_number1 img {
    width: 50px;
    height: 50px;
  }
  .Steps_number1 {
    margin-left: 100px;
    margin-top: -210px;
    width: 100px;
  }
  .Steps_image img {
    width: 150px;
    height: 150px;
  }
  .Steps_image {
    margin-top: -230px;
    margin-left: 100px;
    width: 100px;
  }
  .beans p {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: right;
    width: 250px;
    margin-top: 500px;
    margin-left: 70px;
  }
  .Steps_number2 img {
    width: 50px;
    height: 50px;
  }
  .Steps_number2 {
    margin-top: -150px;

.Fazliddin_section {
    width: 376px;
    height: 615px;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .img_5 {
    width: 328px;
    height: 218.78px;
  }
  .Fazliddin_section div:nth-child(2) h1 {
    text-align: center;
    margin-top: -48px;
  }
  .Fazliddin_section div:nth-child(2) p {
    color: rgb(91, 76, 72);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    width: 328px;
  }
  .Fazliddin_section1 {
    width: 376px;
    height: 1000px;
    padding: 40px 24px 0px 24px;
  }
  .Fazliddin_section1 h1 {
    color: rgb(255, 255, 255);
    font-family: Pacifico;
    font-size: 28px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    width: 328px;
  }
  .Fazliddin_section1_chiziq_1 {
    display: none;
  }
  .Fazliddin_section1_chiziq {
    display: none;
  }
  .Steps_number img {
    width: 50px;
    height: 50px;
  }
  .Steps_number {
    margin-top: -150px;
    margin-left: -220px;
  }
  .Steps_photo img {
    width: 150px;
    height: 150px;
  }
  .Steps_photo {
    margin-top: 50px;
    margin-left: -220px;
  }
  .Harvest p {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    width: 250px;
    margin-top: 100px;
    margin-left: 5px;
  }
  .Steps_number1 img {
    width: 50px;
    height: 50px;
  }
  .Steps_number1 {
    margin-left: 100px;
    margin-top: -210px;
    width: 100px;
  }
  .Steps_image img {
    width: 150px;
    height: 150px;
  }
  .Steps_image {
    margin-top: -230px;
    margin-left: 100px;
    width: 100px;
  }
  .beans p {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: right;
    width: 250px;
    margin-top: 500px;
    margin-left: 70px;
  }
  .Steps_number2 img {
    width: 50px;
    height: 50px;
  }
  .Steps_number2 {
    margin-top: -150px;

    width: 300px;
  }
  .Steps_photo1 img {
    width: 150px;
    height: 150px;
  }
  .Steps_photo1 {
    margin-top: 100px;
    margin-left: 10px;
    width: 300px;
  }
  .Fazliddin_section1_box {
    display: flex;
    flex-direction: column;
  }
  .coffee p {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    width: 250px;
    margin-left: 10px;
    margin-top: -70px;
  }







/* lazizbek uchun */
.wrapper{
    width: 100%;
}
.first{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    text-align: center;
    justify-content: center;
}
.writings{
    width: 100%;
    text-align: center;
    gap: 24px;
}
.writings h1{
    font-size: 28px;
    line-height: 120%;
    text-align: center;
}
.writings p{
    width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 23px;
}
.image{
    width: 100%;
}
.image img{
    width: 100%;
}
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    align-items: center;
}
.inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
    gap: 48px;
}
.left{
    width: 100%;
    text-align: center;
}
.cofe{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.cofe img{
    width: 24px;
    height: 24px;
}
.cofe span{
    font-size: 12px;
    line-height: 26px;
}
.left h1{
    font-size: 25px;
    text-align: center;
}
.right{
    width: 100%;
}
.right input{
    width: 100%;
}
.right button{
    width: 100%;
}
.right p{
    width: 100%;
    font-size: 12px;
    text-align: center;
}
.photos{
    margin-left: 0px;
}
.final{
    width: 100%;

}
.final span{
    width: 100%;
    text-align: center;
    align-items: center;
    margin-left: 0px;
    display: flex;
    justify-content: center;
}


}

}